# Виртуальные окружения
.venv
car_detection_env
venv
env

# MLflow, логи и запуски YOLO/Ultralytics
mlruns
mlflow.db
runs
*.log

# Данные, веса моделей и изображения
data
weights/*.pt
*.pt
*.onnx
*.png
*.jpg
*.jpeg

# Кэш Python, Docker, IDE и Git
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
.vscode
.idea